html{
    font-family: sans-serif;
}

body{
    width: 70%;
    margin: auto;
}

main{
    width: 80%;
    margin: auto; 
}

header{
    background-image: url(images/apple-pie.jpg);
    background-size: cover;
    width: auto;
    height: 500px;
}

#greeting{
    font-size: 1.3em;
}

#ragacap{
    font-size: 5em;
    color: cornsilk;
    text-align: center;
    padding: 200px;
}

#recipe{
    image-resolution: auto;
}

#container{
    padding: 50px;
}